name: barbershop_app
description: "Aplicativo Flutter completo de um sistema de barbearia com 4 telas: Home, Serviços, Agendamento e Confirmação. Código limpo, organizado e didático para aprendizado acadêmico."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.0.0

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
